.teammember-apply {
    margin-left: 20px;
    padding: 6px;
    font-weight: bold;
    font-size: 13px;
}

.teammember-applied {
    margin-left: 20px;
    padding: 6px;
    font-weight: bold;
    font-size: 13px;
    background-color: #545cb6;
}

.teammember-profile-image {
    display: inline-block;
    height: 50px;
    width: 50px;
    vertical-align: middle;
    margin-right: 10px;
    border-radius: 50%;
    border: 2px solid #222a7e;
}

.teammember-name {
    display: inline-block;
}

.teammember-name-gray {
    display: inline-block;
    color: gray;
}

