/* IN PROGRESS */

.my-projects-pane {
    width: 80%;
    height: 100%;
    margin-left: 17%;
    box-sizing: border-box;
    position: absolute;
    background-color: #dadae0;
    overflow-y: auto;
    overflow-x: hidden;
}

.my-projects-pane-container {
    width: 70%;
    box-sizing: border-box;
    margin-left: 6%;
}

.my-projects-header {
    text-align: center;
    color: #343755;
    font-weight: bolder;
    font-size: 300%;
}

.my-projects-no-project {
    color: #222a7e;
}

.my-projects-oops {
    font-size: 350%;
}

